.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 80vh;
 
}

.mainLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
   
}

.mainLanding > img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 0;
}
