.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
}

.mainLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    margin-left: 10px;
}

.mainLanding > img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin-left: 0;
}

.slider-slide {
    display: flex;
    width: 50%;
}