.filtermain {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.filterbody {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1%;
    button {
        min-width: 100px;
        max-width: 100px;
        height: 35px;
        border-radius: 5px;
        // margin-left: 40px;
    }
    h4 {
        display: flex;
        margin-left: 75px;
    }
}


.results {
    text-align: left;
    margin-top: 0px;
    padding: 20px;
    // div:nth-child(odd){
    //     background-color:lightgray;
    // }
}
.filtermain > button {
    max-width: 150px;
    background: black;
    color: white;
}

// .field {
//     display: flex;
//     justify-content: space-around;
//     align-content: center;
// }
.dropdown {
    display: flex;
    align-content: center;

}

.routes{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    div {
        height: 100%;
        display: flex;
        justify-content: start;
        align-content: center;
        div.route-name {
            grid-column: 1 / 1;
        }
        
        div.route-type {
            grid-column: 6;
        }
    }
} 




.results {

    a {
        text-align: left;
        align-content: center;
    }
}

