.main {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.main-header {
    display: flex;
    flex-direction: row;
    height: 45%;
    background: #000000;
}

.main-body {
    background: #f2f2f2;
    flex-direction:column;
    height: 50%;
}

.mapped-routes {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100px;
    p {
        padding: 10px;
    }
}

.mapped-routes-display {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 5%;
}