.routes{
    display: grid;
    grid-template-columns: repeat(1, 2fr 5fr .5fr .5fr .5fr);
    // grid-gap: 10px;
    grid-auto-rows: minmax(15px, auto);
    div {
        display: flex;
        justify-content: center;
    }
} 

.results {
    padding: 5%;
    
    div:nth-child(even){
        background: #f2f2f2;
    }
}

