.routes{
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr 1fr 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
} 

.results {
    padding: 5%;
}

.route-type {
    text-align: right;
}