.routes{
    display: grid;
    grid-template-columns: repeat(1, 2fr 4fr .75fr .75fr .5fr .5fr);
    grid-auto-rows: minmax(35px, auto);
    span {
        display: flex;
        align-items: center;
    }
    span:nth-child(1) {
        padding-left: 5px; 
        font-size: 15px;       
     }
   span:nth-child(4) {
       justify-content: flex-start;
       padding-left: 5px;
    }
   span:nth-child(5) {
    justify-content: space-between;
    padding-left: 20px;
    }
   span:nth-child(2){
       color: black;
       overflow: hidden;
       margin-right: 20px;
   } 
    p {
        align-items: center;
        justify-content: left;
        color: gray;
        white-space: nowrap; 
        font-size: 12px;
    }
    p:hover {
        text-decoration: underline;
    }
} 

.results-header {
    display: flex;
    margin-top: 10px;
}

.results {
    padding: 5%;

    div:nth-child(even){
        background: #f2f2f2;
    }
    h1 {
        margin-bottom: 20px;
        text-decoration: underline;
    }
}


.page-numbers {
    display: flex;
    justify-content: center;
    // text-decoration: none;
    list-style-type: none;
    color: black;
    margin-top: 30px;
    cursor: pointer;
    li {
        padding: 10px;
        background: #486796;
        color: white;
        margin-right: 1px;
    }
    li:hover {
        background:black;
        transition: all .5s ease;
    }
    
}

.filter-box {
    display: flex;
    padding-top: 10px;
    background: #486796;
    // padding-bottom: 10px;
    height: 70vh;
}

.forum {
    display: flex;
    flex-direction: column;
    width: 130%;
    // padding: 5px;
}
.forum-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10%;
    font-size: 40px;
    // padding: 10px;
    margin-bottom: 10px;
    background: #2e2e2e;
    border: 1px solid black;
}
.forum-body {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    height: 100%;
    
    a {
        margin: 10px;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    width: 50%;
    margin-left: 5px;
    border: 1px solid black;
    h2 {
        padding-left: 40%;
        font-size: 20;
        color: white;
    }
    a {
        font-size: 15px;
        color: white;
        
    }
    a:hover {
        color: black;
    }
}
.training {
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    height: 100%;
    width: 50%;
    margin-right: 5px;
    border: 1px solid black;
    h2 {
        padding-left: 40%;
        font-size: 20;
        color: white;
    }
    a {
        font-size: 15px;
        color: white;
        
    }
    a:hover {
        color: black;
    }
}